MANTLE_API_URL=https://api.heymantle.app/v1
MANTLE_APP_ID=
MANTLE_APP_API_KEY=
DATABASE_URL="postgresql://mantledemo:mantledemo@localhost:5432/mantledemo?schema=public"
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=write_products